div {
    max-width: 1080px;
    margin: 0 auto;
}

/* Header */
header {
    background-image: url(../img/pattern.png);
    background-color: rgba(78, 160, 255, 1);
}

figure {
    max-width: 200px;
    padding: 50px 0;
    margin-left: 0;
}

/* Main */

/* Section Article */
h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

address {
    font-style: normal;
    font-size: 1.2rem;
    color: #555;
}

a {
    text-decoration: none;
    color: skyblue;
}

img {
    padding-top: 20px;
}